<p-table
  #dt2
  [value]="registros"
  dataKey="id"
  [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50]"
  [paginator]="true"
  [loading]="loading"
  [tableStyle]="{ 'min-width': '75rem' }"
>
  <ng-template #header>
    <tr>
      <th></th>
      @for (coluna of colunas; track coluna.key) {
        <th>{{coluna.texto}}</th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-registro>
    <tr>
      <td>
        <p-button size="small" (click)="this.editar.emit(registro)" icon="pi pi-pen-to-square" aria-label="Editar" severity="info"  />
      </td>

      @for (coluna of colunas; track coluna.key) {
        @if (coluna.tipo === 'button') {
        <td>
          <button type="button"
            class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 focus:outline-hidden focus:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:text-blue-400">
            {{ registro[coluna.tipo] }}
          </button>
        </td>
        }
        @else if (coluna.tipo === 'boolean') {
        <td>
          <p-tag [value]="registro[coluna.key] ? coluna.config.true : coluna.config.false" [severity]="registro[coluna.key] ? 'success' : 'danger'" />
        </td>
        }
        @else {
        <td>
          {{ registro[coluna.key] }}
        </td>
        }
      }
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td [colSpan]="colunas.length">Nenhum registro foi encontrado.</td>
    </tr>
  </ng-template>
</p-table>